.vs
Library
Logs
obj
.vsconfig
Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj
URP_PBR.sln
Temp
Packages/manifest.json
Packages/manifest.json
Packages/packages-lock.json
ProjectSettings/ProjectVersion.txt
ProjectSettings/QualitySettings.asset
ProjectSettings/URPProjectSettings.asset
AmplifyShaderEditor.csproj
.idea/.idea.URP_PBR/.idea/workspace.xml
